<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="login" method="POST">
    {% csrf_token %}
  <label for="username">User name:</label><br>
  <input type="text" name="user" value="username"><br>
  <label for="password">Password:</label><br>
  <input type="password" name="password" value="password"><br><br>
  <input type="submit" value="Submit">
</form> 
<br><br>
<div>
    {% for message in messages %}
    <h3>{{ message }}</h3>
    {% endfor %}
</div>
<br><br>

<p>If you click the "Submit" button, the form-data will be sent to a page called .</p>

</body>
</html>